.logo {
    font-size: 70px;
    color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    width: 110px;
    height: 110px;
    border: 3px solid $color-primary;
    border-radius: 50%;
}