.header {
    width: 90%;
    height: 100vh;
    position: relative;
    background:url(../images/bg.jpg) center no-repeat;
    background-size: cover;
}

.brand {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}